<%- include ('layouts/header') %>
<h1 style="color: #fff;">Sorry, an error has occurred</h1>
<br />
<h3 style="color: #fff;"><%= error.status %> | <%= error.message %></h3>
<br />
<a href="/" style="color: #fff;">â† Back to home</a>
<%- include ('layouts/footer') %>
